{%extends 'base.html' %}
{% block content %}
{% load static%}

			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-3 col-12-medium">

								<!-- Sidebar -->
									<section>
										<header>
											<h2>Support Us</h2>
										</header>
										<ul class="link-list">
											<li><a href="#">Sed dolore viverra</a></li>
											<li><a href="#">Ligula non varius</a></li>
											<li><a href="#">Nec sociis natoque</a></li>
											<li><a href="#">Penatibus et magnis</a></li>
											<li><a href="#">Dis parturient montes</a></li>
											<li><a href="#">Nascetur ridiculus</a></li>
										</ul>
									</section>
									<section>
										<header>
											<h2>feedback</h2>
										</header>
										<p>
											Provide feedback here:
										</p>
										<ul class="link-list">
											<li><a href="https://www.facebook.com">Facebook</a></li>
											<li><a href="https://www.instagram.com">Instagram</a></li>
											<li><a href="https://www.reddit.com/?rdt=50192">Reddit</a></li>
											<li><a href="https://x.com">X</a></li>
										</ul>
									</section>

							</div>
							<div class="col-9 col-12-medium imp-medium">

								<!-- Main Content -->
									<section>
										<header>
											<h2>Help</h2>
											<h3>Need help on our page?</h3>
										</header>
										<p>
											Well we got you covered. We are here to help you in time of need. Our site is designed to be
                      user-friendly and easy to navigate. However, if you encounter any issues or have any
                      questions, please don't hesitate to reach out to us. Our team is available to assist you
                      with any concerns you may have. Whether you need help with a specific feature, have a
                      question about our services, or just need some general guidance, we are here to help. We
                      value your feedback and are committed to providing you with the best possible experience.
                      You can reach us at the contact information provided on our <a href="{% url 'contact' %}"> website </a>.
										</p>
										<p>
											Feedback is important to us, and we are always looking for ways to improve our site and
                      services. If you have any suggestions or ideas for how we can make our site better, please
                      let us know. We appreciate your input and are always looking for ways to enhance your
                      experience. Thank you for choosing us! We look forward to hearing from you and assisting
                      you with any questions or concerns you may have.
                    </p>
									</section>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

  